<ion-view view-title="个人主页">
  <ion-content class="home-body">
    <div class="user-header">
      <div class="user-header-img">
        <img src="img/avatar.jpg">
      </div>
      <div class="user-header-content">
        <h1 class="user-name">管理员</h1>
        <span class="user-money">1000币</span>
        <p class="user-email">462436208@qq.com</p>
      </div>
    </div>
    <div class="user-menu-content">
      <div class="user-menu-bar">
        <a href="#">
          <span class="user-menu-icon user-theses"></span>
          我的论文
        </a>
      </div>
    </div>
    
    <div class="user-menu-content">
      <div class="user-menu-bar">
        <a href="#">
          <span class="user-menu-icon user-order"></span>
          充值中心
        </a>
      </div>
      <div class="user-menu-bar">
        <a href="#">
          <span class="user-menu-icon user-consum"></span>
          消费记录
        </a>
      </div>
    </div>

    <div class="user-menu-content">
      <div class="user-menu-bar">
        <a href="#">
          <span class="user-menu-icon user-task"></span>
          我的任务
        </a>
      </div>
      <div class="user-menu-bar">
        <a href="#">
          <span class="user-menu-icon user-fankui"></span>
          问题反馈
        </a>
      </div>
    </div>

    <div class="user-menu-content">
      <div class="user-menu-bar">
        <a href="#">
          <span class="user-menu-icon user-houtai"></span>
          管理后台
        </a>
      </div>
    </div>
    

  </ion-content>
</ion-view>
